<main>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <h2 class="mb-4 display-4 fw-bold" style="padding-top: 5rem;">Contact Me</h2>
                <div class="contact-info bg-light p-4 rounded shadow">
                    <p class="fs-5">
                        <i class="fas fa-envelope me-2 text-primary"></i>
                        <strong>Email:</strong> 
                        <a href="mailto:dear.kavinda@gmail.com" class="text-decoration-none text-primary fw-bold">Open email</a>
                    </p>
                    <p class="fs-5">
                        <i class="fas fa-phone me-2 text-success"></i>
                        <strong>Phone:</strong> 
                        <span class="text-muted">+94 712698828</span>
                    </p>
                    <p class="fs-5">
                        <i class="fas fa-map-marker-alt me-2 text-danger"></i>
                        <strong>Address:</strong> 
                        <span class="text-muted">
                            Jayasewana,<br>Galmediyawa,<br>Negampaha
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>