<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <h2 class="mb-4">Contact Me</h2>
                <div class="contact-info">
                    <p><strong>Email:</strong>myemail</p>
                    <p><strong>Phone:</strong> +94 712698828</p>
                    <p><strong>Address:</strong> Jayasewana,<br>Galmediyawa,<br>Negampaha</p>
                </div>
            </div>
        </div>
    </div>
</main>