<div class="skill-container" >
    <h1 class="text-warning">My Skills</h1>

    <h2>Programming Languages</h2>
    <ul>
        <li><span class="highlight">C#</span></li>
        <li><span class="highlight">Java</span></li>
        <li><span class="highlight">Python</span></li>
    </ul>

    <h2>Web Programming</h2>
    <ul>
        <li><span class="highlight">HTML</span></li>
        <li><span class="highlight">CSS</span></li>
        <li><span class="highlight">TypeScript</span></li>
        <li><span class="highlight">JavaScript</span></li>
    </ul>

    <h2>Version Control</h2>
    <ul>
        <li><span class="highlight">Git</span></li>
        <li><span class="highlight">GitHub</span></li>
    </ul>

    <h2>Frameworks and Libraries</h2>
    <ul>
        <li><span class="highlight">.NET</span></li>
        <li><span class="highlight">.NET Core</span></li>
        <li><span class="highlight">Entity Framework</span></li>
        <li><span class="highlight">Angular</span> (including Angular 18)</li>
    </ul>

    <h2>IDEs</h2>
    <ul>
        <li><span class="highlight">Visual Studio</span></li>
        <li><span class="highlight">Visual Studio Code</span></li>
        <li><span class="highlight">NetBeans</span></li>
    </ul>

    <h2>API Testing Tools</h2>
    <ul>
        <li><span class="highlight">Swagger</span></li>
        <li><span class="highlight">Postman</span></li>
    </ul>

    <h2>Database Servers</h2>
    <ul>
        <li><span class="highlight">PostgreSQL</span></li>
        <li><span class="highlight">MySQL</span></li>
        <li><span class="highlight">Firebase</span></li>
        <li><span class="highlight">MongoDB</span></li>
    </ul>

    <h2>Others</h2>
    <ul>
        <li><span class="highlight">SAP Crystal Reports</span></li>
        <li><span class="highlight">SSMS (SQL Server Management Studio)</span></li>
    </ul>
</div>